#popup {
  padding: 1rem;

  #no-session {
    padding: 1.5rem 2rem;
    width: 300px;
    text-align: center;
  }

  #amishi {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;

    img.avatar {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      border-radius: 4px;
      vertical-align: middle;
    }

    span.name {
      color: #aaa;
      font-weight: 700;
      padding-right: 1rem;
    }
  }

  #scrape-buttons {
    button {
      width: 200px;
      text-transform: none;
      font-size: 1.5rem;
      letter-spacing: 0;
      font-weight: 500;
    }
  }

  #scaping {
    padding: 1.5rem 2rem;
  }
  
  #scraped {
    padding-bottom: 0;
  
    div.coto {
      width: 480px;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 12px;
      background-color: #fff;
    }
  
    div.buttons {
      margin-top: 1rem;
      text-align: right;

      button {
        margin-bottom: 0;
      }
    }
  }

  #posted {
    width: 50px;
    padding: 1.5rem 2rem;
    text-align: center;
  }
}



