#popup {
  padding: 1rem;

  #loading-session {
    width: 50px;
    padding: 1rem 0.5rem;
    text-align: center;
  }

  #no-session {
    padding: 1.5rem 2rem;
    width: 300px;
    text-align: center;
  }

  #amishi {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;

    img.avatar {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      border-radius: 4px;
      vertical-align: middle;
    }

    span.name {
      color: #aaa;
      font-weight: 700;
      padding-right: 1rem;
    }
  }

  #scrape-buttons {
    button {
      width: 200px;
      text-transform: none;
      font-size: 1.5rem;
      letter-spacing: 0;
      font-weight: 500;
    }
  }

  #scaping {
    padding: 1.5rem 2rem;
    text-align: center;
  }
  
  #scraped {
    padding-bottom: 0;
  
    div.coto {
      width: 480px;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 12px;
      background-color: #fff;
    }

    div.selected-html {
      margin-bottom: 1rem;
    }
  
    div.buttons {
      margin-top: 1.5rem;
      text-align: right;

      button {
        margin-bottom: 0;
      }
    }
  }

  #posted {
    width: 50px;
    padding: 1.5rem 2rem;
    text-align: center;
  }

  #error {
    width: 200px;
    text-align: center;
  }

  #kindle-highlights-scraper #scraped-content {
    width: 500px;
    padding: 0.5rem;

    input {
      margin-bottom: 0;
    }

    div.message {
      padding-bottom: 3px;

      span.count {
        font-weight: bold;
        font-size: 1.8rem;
        vertical-align: -2px;
        margin-right: 2px;
      }
    }

    div.annotations {
      margin-top: 1.5rem;
      height: 300px;
      overflow-y: auto;
      background-color: #f8f8f8;
      padding: 1.5rem 1rem;

      div.coto {
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        padding-top: 6px;

        div.number {
          margin-bottom: 4px;
          font-size: 1.3rem;
          font-weight: bold;
        }
      }

      blockquote.highlight {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: #888;
        quotes: "\201C" "\201D";

        &:before {
          color: #ccc;
          font-family: serif;
          content: open-quote;
          font-size: 45px;
          line-height: 0.1em;
          margin-right: 5px;
          vertical-align: -20px;
        }

        &:after {
          color: #ccc;
          font-family: serif;
          content: close-quote;
          font-size: 45px;
          line-height: 0.1em;
          vertical-align: -27px;
        }

        p {
          padding-left: 1em;
        }
      }

      div.note {
        margin-bottom: 1rem;
      }
    }
  }
}



