#scrape-buttons {
  padding: 1rem;

  button {
    width: 200px;
    text-transform: none;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 500;
  }
}

#scraped-content {
  padding: 1rem;
  padding-bottom: 0;

  div.coto {
    width: 480px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
  }

  div.buttons {
    margin-top: 1rem;
    text-align: right;
  }
}


